@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color:#e8c3cc;
}

header {
    display: flex;
    font-family:  "Dancing Script", cursive;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-top: 5px;
    height: 40px;
    background-color: #f4efe6;
}


.logo-heading {
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.heading {
    color: #333;
    font-family: Arial, sans-serif;
    background-color:#e8c3cc;
}


nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
}

nav ul li.divider {
    font-size: 20px;
    font-weight: 400;
}

.social-icons a {
    margin-left: 30px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.container{
    margin: 3em;
    padding: 2em;
    display: flex;
}

aside{
    border: 1px black solid;
    width: 30%;
    padding: 10px;
}


section{
    border: 1px black solid;
    width: 70%;
    padding: 20px;
}


.blog-head{
    padding-top:30px;
    font-weight: bold;
    font-size: 1.5em;
    font-family: Arial, sans-serif;
    color: hsl(345, 45%, 39%);

}


.kathak-container{
    padding-top: 10px;
}

.kathak{
    display: flex;
    align-items: center;
}

.kathak-content{
    padding: 15px;
}

.ballet-container{
    padding-bottom: 50px;

}


.ballet{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 70px;
}

.ballet-content{
    padding: 15px;
    text-align: right;
}


h2{
    padding-top: 50px;
    padding-bottom: 10px;
    border-top: 1px black solid;
}

.name-comment{
    padding-top: 10px;
}

.email-comment{
    padding-top: 10px;
}

.message-comment{
    padding-top: 10px;
}

#msg{
    vertical-align: top;
}


.rate-blog{
    padding-top: 10px;
    padding-bottom: 10px;
}

#rate-this{
    padding-top: 10px;
}

.submit-rate{
    padding-top: 10px;
    padding-bottom: 10px;
}


/*aside*/
aside h1{
    padding-top: 30px;
    font-weight: bold;
    font-size: 2.5em;
    font-family: Arial, sans-serif;
    color: hsl(345, 45%, 39%);
    text-align: center;
}
.wear-container{
    margin-top: 30px;
}

/*aside end*/