@model IEnumerable<Cumulative_1.Models.Student>

<!-- A link is added that will redirect to another Form page where there is a form to add a new teacher-->
<div class="course">
    <h1>List Of Students</h1>
    <!-- Displaying all the Course (first name and last name) on the webpage as link where you can select any teacher for their further details -->
    <a style="margin-bottom:10px;" href="/StudentPage/S_New">Add Student</a>
</div>



<!-- Displaying all the Student (first name and last name) on the webpage as link where you can select any teacher for their further details -->
@foreach (Cumulative_1.Models.Student Student in Model)
{
    <div class="list">
        <a href="/StudentPage/SShow/@Student.Student_Id">@Student.First_Name @Student.Last_Name</a>
    </div>
}

<style>
    .course {
        margin-bottom: 20px;
    }

    .addlink {
        font-size: 20px;
    }

    .list {
        display: flex;
        margin-bottom: 10px;
    }

        .list a {
            color: #000;
            text-decoration: none;
            background: #eee;
            padding: 10px;
            box-shadow: 2px 2px 4px grey;
            min-width: 200px;
            text-align: center;
        }

            .list a:hover {
                color: #fff;
                background: #aaa;
                box-shadow: 1px 1px 3px grey;
            }

    .imp {
        font-size: 1.25em;
    }
</style>
