@model IEnumerable<Cumulative_1.Models.Course>


<!-- Displaying all the Course (first name and last name) on the webpage as link where you can select any teacher for their further details -->
@foreach (Cumulative_1.Models.Course Course in Model)
{
    <div class="list">
        <a href="/CoursePage/CShow/@Course.Course_Id">@Course.Course_Code <span class="imp"> @Course.C_Name</span> </a>
    </div>
}

<style>
    .list{
        display:flex;
        margin-bottom:10px;
    }
    .list a{
        color: #000;
        text-decoration: none;
        background: #eee;
        padding:10px;
        box-shadow: 2px 2px 4px grey;
    }
    .list a:hover{
        color: #fff;
        background: #aaa;
        box-shadow: 1px 1px 3px grey;
    }
    .imp{
        font-size: 1.25em;
    }
</style>
